.container{
    display: flex;
    width: 600px;
    
    margin: auto;
    margin-top: 50px;
   
    background-color: white;
    flex-direction: column;
    padding-bottom: 30px;
    
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    color: #1B1464;
    font-size: 30px;
    font-weight: 800;

}
.underline{
    width: 61px;
    height: 6px;
    border-radius: 10px;
    background: #1B1464;
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background-color: #eaeaea;
    border-radius: 6px;
}
.image{
    margin: 0px 30px;
}
.input input{
    width: 400px;
    height: 50px;
    border: none;
    background:transparent;
    outline: none;
    color: #797979;
    font-size: 19px;
}
.forget-password{
    padding-left: 62px;
    margin-top: 20px;
    font-size: 1.25rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    color: #797979;
}
span{
    color: #1B1464;
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
    background-color: #1B1464;
    border-radius: 50px;
    width: 220px;
    height: 59px;
    cursor: pointer;
    margin-bottom: 0px;
}
.gray{
    background-color: #eaeaea;
    color: #797979;
}